.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.services {
  display: flex;
  margin: 30px;
  
}

h2{
  text-align: left;
}

.leftComponent{
  text-align: center;
  width: 50%;
  align-self: center; 
}

.rightComponent{
  width: 50%; 
  margin-right: 100px;
  word-wrap: true;
  word-break: normal;
}

.description1{
  word-wrap: true;
  word-break: normal;
  font-size: 15px;
  text-align: left;
}

.description2{
  background: #c7e2ea;
  padding: 50px;
  word-wrap: true;
  /* word-break: normal; */
  color: grey;
  font-size: 15px;
  text-align: left;
}

.image{
  height: 35vh;
  width: 100%;
}
